@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    color: darkred;
    font-size: 100px;
}

h1{
    color: navy;
}

p{
    color: indigo;
}

.head{
    background: lawngreen;
}

#para{
    background: lightpink;
}